body{
  
}
header{
  background: url("../images/bg_02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  .jumbotron{

    margin-bottom: 40px;
    @media screen and (min-width: @screen-sm-min) {
      margin-bottom: 60px;
    }
    h1{
      font-family: 'Bad Script', cursive;
      color: #efefef;
      font-size: 72px;
      font-weight: 100;
      @media screen and (max-width: @screen-sm-min) {
        font-size: 36px;
      }
    }
  }
}

.navbar{
  background-color: #222; 
  .navbar-header{
    button{
      border: 1px solid #222 ;
    }
  }
}

.thumbnail{
  time{
    background-color: darkgray;
    padding: 1px 8px;
    position: absolute;
    top: -5px;
    left: 0px;
    color: #FFF;
    z-index: 110;
  }
  a{
    .entry_thub{
      @media screen and (max-width: @screen-sm-min) {
        position: relative;
        overflow: hidden; /*不要部分の切り取り*/
        height: auto;    /*正方形にしたい高さサイズ*/
        width: 100%;   /*正方形にしたい横幅サイズ*/
        display: block;   /*spanなのでblock要素にする*/
        z-index: 100;
      }
    }
    .caption{
      h3{
        line-height: 1.4;
        color: #F37074;
      }
      p{
        line-height: 1.4;
      }
    }
  }
  a:hover{
    text-decoration: none;
  }
}


