// header{
//   position: relative;
//   width:100%;
//   height: 768px;
//   background: url("../images/bg.jpg")no-repeat;
//   background-size: cover;
//   @media screen and (max-width: @screen-sm-min) {
//     height: 210px;
//     background-size: contain;
//   }
//   .firstview{
//     position: absolute;
//     top: 120px;
//     left: 128px;
//     @media screen and (max-width: @screen-sm-min) {
//       top:45px;
//       left:90px;
//     }
//     h1{
//       font-family: 'Bad Script', cursive;
//       color: #efefef;
//       font-size: 160px;
//       font-weight: 100;
//       @media screen and (max-width: @screen-sm-min) {
//         font-size: 28px;
//       }
//     }
//     small{
//       display: inline-block;
//       width: 440px;
//       font-family: 'Bad Script', cursive;
//       font-weight: 100;
//       font-size: 18px;
//       color: #f7f7f7;
//       @media screen and (max-width: @screen-sm-min) {
//         font-size: 10px;
//         width: 70%;
//       }
//     }
//   }
// }
header{
  background: url("../images/blog-bg.png");
  background-size: cover;
  .jumbotron{
    margin-bottom: 40px;
    @media screen and (min-width: @screen-sm-min) {
      margin-bottom: 60px;
    }
    h1{
      font-family: 'Bad Script', cursive;
      color: #efefef;
      font-size: 72px;
      font-weight: 100;
      @media screen and (max-width: @screen-sm-min) {
        font-size: 36px;
      }
    }
  }
}

.navbar{
  background-color: #222; 
  .navbar-header{
    button{
      border: 1px solid #222 ;
    }
  }
}

.thumbnail{
  time{
    background-color: darkgray;
    padding: 1px 8px;
    position: absolute;
    top: -5px;
    left: 0px;
    color: #FFF;
    z-index: 110;
  }
  a{
    .entry_thub{
      @media screen and (max-width: @screen-sm-min) {
        position: relative;
        overflow: hidden; /*不要部分の切り取り*/
        height: auto;    /*正方形にしたい高さサイズ*/
        width: 100%;   /*正方形にしたい横幅サイズ*/
        display: block;   /*spanなのでblock要素にする*/
        z-index: 100;
      }
    }
    .caption{
      h3{
        line-height: 1.4;
        color: #F37074;
      }
      p{
        line-height: 1.4;
      }
    }
  }
  a:hover{
    text-decoration: none;
  }
}

.cut {
  position: relative;
  float: left;
  overflow: hidden; /*不要部分の切り取り*/
  height: 100px;    /*正方形にしたい高さサイズ*/
  width: 100px;   /*正方形にしたい横幅サイズ*/
  display: block;   /*spanなのでblock要素にする*/
  margin:0 10px 10px 0;
  border: 8px solid #ccc; 
}
.cut_image {      /*縦・横の画像でも一応見れるように微妙に調整されています。*/
  diaplay: block;
  height: 150px;
  position: absolute;
  left: -50px;
  top: -20px;
}
// body{
//   background-color: #f7f7f7;
// }
// header{
//   position: relative;
//   width:100%;
//   height: 768px;
//   background: url("../images/bg.jpg")no-repeat;
//   background-size: cover;
//   @media screen and (max-width: @screen-sm-min) {
//     height: 210px;
//     background-size: contain;
//   }
//   .firstview{
//     position: absolute;
//     top: 120px;
//     left: 128px;
//     @media screen and (max-width: @screen-sm-min) {
//       top:45px;
//       left:90px;
//     }
//     h1{
//       font-family: 'Bad Script', cursive;
//       color: #efefef;
//       font-size: 160px;
//       font-weight: 100;
//       @media screen and (max-width: @screen-sm-min) {
//         font-size: 28px;
//       }
//     }
//     small{
//       display: inline-block;
//       width: 440px;
//       font-family: 'Bad Script', cursive;
//       font-weight: 100;
//       font-size: 18px;
//       color: #f7f7f7;
//       @media screen and (max-width: @screen-sm-min) {
//         font-size: 10px;
//         width: 70%;
//       }
//     }
//   }
// }
// section{
//   padding: 80px;
//   @media screen and (max-width: @screen-sm-min) {
//     padding: 10px;
//   }
//   h1{
//     text-align: center;
//     font-size: 42px;
//     margin: 60px;
//     font-family: 'Marck Script', cursive;
//     @media screen and (max-width: @screen-sm-min) {
//       font-size: 24px;
//           margin: 10px;
//     }
//   }
// }
// .features{
//   @media screen and (max-width: @screen-sm-min) {
//       padding: 0;
//     }
//   h1{
//     font-size: 62px;
//   }
//   h4{
//     font-size: 32px;
//     font-weight: bold;
//     padding: 15px 0;
//     @media screen and (max-width: @screen-sm-min) {
//       font-size: 16px;
//       padding: 5px 0;
//     }
//   }
//   p{
//     font-size: 22px;
//     font-weight: thin;
//     color: #555 ;
//     line-height: 1.8em;
//     @media screen and (max-width: @screen-sm-min) {
//       font-size: 14px;
//     }
//   }
// }
// .top{
//   background: url("../images/footer.png");
//    background-size: cover;
//    height: 450px;
//   width:100%;
//   @media screen and (max-width: @screen-sm-min) {
//     background-size: cover;
//     height: 210px;
//   }
// }

// .about{
//   h2{
//     display: inline-block;
//     margin-top: 0px;
//     font-size: 36px;
//     font-family: 'Sorts Mill Goudy', serif;
//     @media screen and (max-width: @screen-sm-min) {
//       font-size: 32px;
//     }
//   }
//   h5{
//     display: inline-block;
//     margin-left: 10px;
//     font-family: 'Sorts Mill Goudy', serif;
//   }
//   p{
//     color: #555;
//     font-size: 18 px;
//     font-family: 'Slabo 27px', sans-serif;
//   }  
// }
// .skill{
//   background-color: #ccc;
//   .thumbnail{
//     padding: 0;
//     border: none;
//     background-color: #222;
//     border-radius: 0px;
//     h3{
//       margin: 40px;
//       @media screen and (max-width: @screen-sm-min) {
//         margin: 15px;
//       }
//     }
//     .caption{
//       color: #ddd;
//     }
//   }
// }

// .project{
//   height: 670px;
//   background: url('../images/project-bg.jpg');
//   -webkit-background-size: cover;
//        -o-background-size: cover;
//           background-size: cover;
//   color: #fff;
//   @media screen and (max-width: @screen-sm-min) {
//     height: 100%;
//     font-size: 24px;
//   }
//   h3{
//     margin: 20px 0;
//     line-height: 1.8em;
//     @media screen and (max-width: @screen-sm-min) {
//     font-size: 14px;
//   }
//   }
//   h4{
//     font-size: 24px;
//     line-height: 1.8em;
//     @media screen and (max-width: @screen-sm-min) {
//       font-size: 12px;
//     }
//   }
//   p{
//     line-height: 1.8em;
//     @media screen and (max-width: @screen-sm-min) {
//       font-size: 11px;
//     }
//   }
// }
// .contact{
//   font-family:'Bad Script', cursive;
//   span{
//     font-size: 42px;
//     @media screen and (max-width: @screen-sm-min) {
//       font-size: 24px;
//     }
//   }
// }
// footer{
//   position: initial;
//   bottom: 0;
//   padding: 60px;
//   @media screen and (max-width: @screen-sm-min) {
//     margin: 20px;
//   }
//   .container{
//     border-top: 1px solid #222;
//     p{
//     text-align: center;
//     font-size: 12px;
//     padding-top: 40px;
//     color: #222;
//   }
//   }
// }
